<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <title>{% block title %}{% endblock %}</title> 
        {% load django_bootstrap5 %}
        {% bootstrap_css %}
        {% bootstrap_javascript %}            		        
    </head>
    <body>
        <header class="d-md-flex header">
            {% block header %}
            <div class="col-12 d-flex justify-content-center align-items-center pt-5 p-xl-0">
                <h2 class="pt-5 p-xl-0">Personal Blog</h2>
            </div>                
            {% endblock header %}                        
        </header>
        <main class="container-fluid">            
            {% block nav %}
            <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
                <div class="container-fluid">
                    <div class="col-5 col-sm-1 col-md-2 col-lg-2 col-xl-1">
                        <a class="navbar-brand" href=""><img src="" class="img-fluid float-start" alt="imagen_logo"></a>								
                    </div>							
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#my_nav" aria-controls="my_nav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="my_nav">
                        <ul class="nav navbar-nav justify-content-center w-100">                            
                            <li class="nav-item d-lg-inline-block">
                                <a class="nav-link" href="{% url "main_blog:index" %}">Home</a>
                            </li>
                            <li class="nav-item d-lg-inline-block">
                                <a class="nav-link" href="{% url "main_blog:posts" %}">Posts</a>
                            </li>
                            {% if user.is_authenticated %}
                            <li class="nav-item d-lg-inline-block">
                                <form action="{% url "accounts:logout" %}" method="post">
                                    {% csrf_token %}
                                    <button class='btn btn-link nav-link' name='submit'>Logout</button>
                                </form>
                            </li>
                            {% else %}
                            <li class="nav-item d-lg-inline-block">
                                <a class="nav-link" href="{% url "accounts:register" %}">Register</a>
                            </li> 
                            <li class="nav-item d-lg-inline-block">
                                <a class="nav-link" href="{% url "accounts:login" %}">Login</a>
                            </li>  
                            {% endif %}                                                                                  
                        </ul>
                    </div>																					
                </div>
            </nav>
            {% endblock nav %} 
            {% if user.is_authenticated %}
            <p>Welcome {{ user|capfirst }}</p>
            {% endif %}                       
            {% block content %}{% endblock content %}           
        </main>	
        {% block footer %}
        <footer class="container-fluid d-flex justify-content-center align-items-center">
            <p>Django course</p>
        </footer>
        {% endblock footer %}        
    </body>
</html>