{% extends "./base.html" %}

{% block content %}
    <p><a href="{% url "main_blog:post" post.id %}">{{ post }}</a></p>

    <p>Edit comment:</p>
    <form action="{% url "main_blog:edit_comment" comment.id %}" method="post">
        {% csrf_token %}
        {{ form.as_div }}
        <button name='submit'>Save changes</button>
    </form>
{% endblock content %}