{% extends "./base.html" %}

{% block content %}
<p><a href="{% url "main_blog:post" post.id %}">{{ post }}</a></p>

<p>Add a new comment:</p>
<form action="{% url "main_blog:new_comment" post.id %}" method="post">
    {% csrf_token %}
    {{ form.as_div }}
    <button name='submit'>Add comment</button>
</form>
{% endblock content %}