{% extends "./base.html" %}

{% block content %}
    <p>Add a new post:</p>

    <form action="{% url "main_blog:new_post" %}" method="post">
        {% csrf_token %}
        {{ form.as_div }}

        <button name="submit">Add Post</button>
    </form>
{% endblock content %}