{% extends "./base.html" %}

{% block content %}
    <div class="col-5 mx-auto">
        <h3>Post: {{ post.text }}</h3>

        <p>Comments:</p>
        <p><a href="{% url "main_blog:new_comment" post.id %}">Add new comment</a></p>
    </div>    
        {% for comment in comments %}
            <div class="col-5 mx-auto card mb-3">
                <h5 class="card-header">
                    {{ comment.date_added|date:'d M, Y H:i' }}
                    <small><a href="{% url "main_blog:edit_comment" comment.id %}">Edit comment</a></small>
                </h5>
                <div class="card-body">
                    {{ comment.text|linebreaks }}
                </div>
            </div>            
        {% empty %}
            <p>There are no comments for this post yet.</p>
        {% endfor %}    
{% endblock content %}