{% extends "./base.html" %}

{% block content %}
    <h3>Posts view</h3>

    <ul>
        {% for post in posts %}
            <li><a href="{% url "main_blog:post" post.id %}">{{ post.text }}</a></li>
        {% empty %}
            <li>No posts have been added yet.</li>
        {% endfor %}
    </ul>

    <a href="{% url "main_blog:new_post" %}">Add a new post</a>
{% endblock content %}