{% extends "main_blog/base.html" %}
{% load django_bootstrap5 %}

{% block content %}
    {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

    <form class="col-5 mx-auto" action="{% url "accounts:login" %}" method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% bootstrap_button button_type="submit" content="Log in" %}
    </form>
{% endblock content %}